<div class="wrapper-dash">
    <app-side-nav [addActive]="addActive"></app-side-nav>
    <div class="wrapper-nav-resp">
        <div class="nav-resp">
            <div class="nav-resp-left">
                <div class="nav-resp-logo">
                    <img src="../../../assets/ressources/logo/72x72.png" alt="">
                </div>

                <div class="nav-resp-profil">
                    <div class="nav-profil-circle">
                        <img src="../../../assets/ressources/icons/male_user.svg" alt="">
                    </div>
                    <div class="dot-line"></div>
                </div>
            </div>

            <div class="nav-resp-toggle" (click)="toggle()">
                <span></span><span></span><span></span>
            </div>
        </div>
    </div>
    <div class="dash">
        <div class="dash-title padding-10">
            <h1>Sermon detail</h1>
        </div>

        <div class="dash-detail">
            <div class="dsh-detail-title">
                <h1>Jesus is coming back soon</h1>
            </div>

            <div class="dsh-detail-video">
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/bZ_n9DhGdDc" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <div class="dsh-detail-text">
                <div class="text">
                    <div class="txt-head">
                        <h3>Pastor : <strong>paw micheal</strong></h3>
                        <h3>Date published : <strong> 21/03/2022</strong></h3>
                    </div>

                    <div class="txt-body">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium autem dignissimos
                            repellat, ratione dolorem, perferendis consequuntur quam repudiandae, aspernatur animi modi.
                            Omnis consectetur odio, neque ex doloremque explicabo, non, voluptatem incidunt eveniet
                            nihil corporis veniam. Cumque amet libero reprehenderit pariatur quidem adipisci deleniti
                            tempore? Vitae sit quod facere rem laboriosam eaque impedit pariatur voluptas numquam
                            voluptatibus, cumque tempore, ut officia ullam minima blanditiis reprehenderit sequi
                            necessitatibus distinctio corrupti et sunt non. Quisquam quaerat vel atque obcaecati,
                            ratione laborum minus ex, vero quos expedita enim ea unde exercitationem natus aut fugit
                            esse autem praesentium impedit molestiae quasi, accusantium neque adipisci eaque.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>