<div class="wrapper-nav" [class.active]="addActive">
    <div class="nav">
        <div class="nav-logo">
            <div class="nav-logo-img">
                <img src="../../../assets/ressources/logo/72x72.png" alt="">
            </div>
            <div class="nav-logo-text">
                <h2>Admins</h2>
            </div>
        </div>

        <div class="nav-links">
            <div class="nav-link-up">
                <a routerLink="/home" routerLinkActive="active" class="link">
                    <div class="l-icon">
                        <i class='bx bxs-dashboard'></i>
                    </div>
                    <div class="l-title">Dashboard</div>
                </a>

                <a routerLink="/admin" routerLinkActive="active" class="link">
                    <div class="l-icon">
                        <i class='bx bx-user'></i>
                    </div>
                    <div class="l-title">administrator</div>
                </a>

                <a routerLink="/event" routerLinkActive="active" class="link">
                    <div class="l-icon">
                        <i class='bx bx-news'></i>
                    </div>
                    <div class="l-title">events</div>
                </a>

                <a routerLink="/gallery" routerLinkActive="active" class="link">
                    <div class="l-icon">
                        <i class='bx bx-photo-album'></i>
                    </div>
                    <div class="l-title">gallery</div>
                </a>

                <a routerLink="/sermon" routerLinkActive="active" class="link">
                    <div class="l-icon">
                        <i class='bx bx-video'></i>
                    </div>
                    <div class="l-title">sermons</div>
                </a>

                <a routerLink="/ministries" routerLinkActive="active" class="link">
                    <div class="l-icon">
                        <i class='bx bx-church'></i>
                    </div>
                    <div class="l-title">ministries</div>
                </a>

                <a href="#" class="link">
                    <div class="l-icon">
                        <i class='bx bx-image-add'></i>
                    </div>
                    <div class="l-title">add news-slider</div>
                </a>

                <a href="#" class="link">
                    <div class="l-icon">
                        <i class='bx bx-envelope'></i>
                    </div>
                    <div class="l-title">send mail</div>
                </a>
            </div>
            <div class="nav-link-bottom">
                <a href="#" class="link">
                    <div class="l-icon">
                        <i class='bx bx-user-circle'></i>
                    </div>
                    <div class="l-title">Jhon Doe</div>
                </a>

                <a href="#" class="link">
                    <div class="l-icon">
                        <i class='bx bx-power-off'></i>
                    </div>
                    <div class="l-title">log out</div>
                </a>
            </div>
        </div>
    </div>
</div>