.dash-statis {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dash-statis .stat-box {
  background-color: var(--color-body);
  width: calc(calc(100% / 4) - 20px);
  padding: 20px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  color: var(--white);
}

.dash-statis .stat-box:nth-child(1) {
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.dash-statis .stat-box:nth-child(2) {
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

.dash-statis .stat-box:nth-child(3) {
    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
}

.dash-statis .stat-box:nth-child(4) {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.dash-statis .stat-box .stat-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.3);
}

.dash-statis .stat-box .stat-icon .bx {
  color: var(--color-primary);
  font-size: 25px;
}

.stat-box .stat-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


/**
 *
 * Mobile
 *
 */

 @media screen and (max-width:490px){
  .dash-statis .stat-box {
    width:100%;
  }
}

/**
 *
 * Mini-Tablette
 *
 */

@media screen and (min-width:600px) and (max-width:1000px){
  .dash-statis .stat-box {
    width: calc(calc(100% / 3) - 20px);
  }
}


/**
 *
 * Tablette
 *
 */

@media screen and (min-width:1024px) and (max-width:1198px){
  .dash-statis .stat-box {
    width: calc(calc(100% / 3) - 20px);
  }
}