<div class="wrapper-login">
    <form action="" class="card">
        <div class="card-title">
            <img src="../../../assets/ressources/logo/144x144.png" alt="">
            <h2>Admins Login</h2>
        </div>
        <div class="card-box">
            <div class="card-error bg-danger">
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis fuga repellendus magni rem iusto,
                    illo
                    saepe doloribus nemo nulla. Beatae deserunt id repudiandae culpa sunt veritatis hic necessitatibus
                    maiores saepe.</P>
            </div>

            <div class="group-form">
                <label for="email">Email</label>
                <input type="text" name="" id="email" placeholder="Email" class="input-control input-error">
            </div>

            <div class="group-form">
                <label for="email">Password</label>
                <input type="password" name="" id="email" placeholder="Password" class="input-control">
            </div>

            <div class="form-btn">
                <button class="bg-blue">Login</button>
            </div>
        </div>
    </form>
</div>