<div class="wrapper-dash">
    <app-side-nav [addActive]="addActive"></app-side-nav>
    <div class="wrapper-nav-resp">
        <div class="nav-resp">
            <div class="nav-resp-left">
                <div class="nav-resp-logo">
                    <img src="../../../assets/ressources/logo/72x72.png" alt="">
                </div>

                <div class="nav-resp-profil">
                    <div class="nav-profil-circle">
                        <img src="../../../assets/ressources/icons/male_user.svg" alt="">
                    </div>
                    <div class="dot-line"></div>
                </div>
            </div>

            <div class="nav-resp-toggle" (click)="toggle()">
                <span></span><span></span><span></span>
            </div>
        </div>
    </div>
    <!-- Dash Modal -->
    <!-- Dash Modal -->
    <div class="dash-modal" (click)="closeModal($event)">
        <div class="dash-modal-wrapper" (click)="stopPropagation($event)">
            <div class="dsh-m-head flex space-between align-items">
                <h2>Add a ministry</h2>

                <div class="cancel" (click)="closeModal($event)">
                    <i class='bx bx-x'></i>
                </div>
            </div>

            <div class="dsh-m-form">
                <form action="" method="post">
                    <div class="group-form">
                        <label for="title">Title</label>
                        <input type="text" name="" id="title" placeholder="Title" class="input-control">
                    </div>


                    <div class="group-form">
                        <label for="phone">Description</label>
                        <textarea name="" id="" cols="30" rows="5" class="input-control"></textarea>
                    </div>

                    <div class="group-form">
                        <label for="">Add a picture</label>
                        <label class="file-box">
                            <input type="file" name="" id="" hidden>
                            <div class="file-icon">
                                <i class='bx bx-image-add'></i>
                            </div>
                        </label>
                    </div>

                    <div class="form-btn">
                        <button class="btn bg-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Dash Modal -->
    <!-- Dash Modal -->

    <div class="dash">
        <div class="dash-title padding-10">
            <h1>Manage ministries</h1>
        </div>

        <div class="dash-event">
            <div class="filter padding-10">
                <div class="filter-head">
                    <h2>Filter</h2>
                    <div class="fl-icon" (click)="Filter()">
                        <i class='bx bx-filter-alt'></i>
                    </div>
                </div>

                <div class="filter-inputs">
                    <form action="" method="post" class="form-filter">
                        <div class="form-filter-content">
                            <div class="group-form">
                                <label for="date">date</label>
                                <div class="input-flex">
                                    <div>
                                        <span class="label">Au</span>
                                        <input type="date" name="" id="" class="input-control">
                                    </div>
                                    <div>
                                        <span class="label">Du</span>
                                        <input type="date" name="" id="" class="input-control">
                                    </div>
                                </div>
                            </div>

                            <div class="group-form">
                                <label for="titre">title</label>
                                <input type="text" name="" id="" placeholder="Search by title" class="input-control">
                            </div>

                            <div class="group-form">
                                <label for="titre">description</label>
                                <input type="text" name="" id="" placeholder="Search by description"
                                    class="input-control">
                            </div>
                        </div>

                        <div class="form-filter-btn">
                            <button>Filter</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="dash-title-search padding-10">
                <div class="dsh-right">
                    <div class="group-form">
                        <input type="text" placeholder="Search.." class="input-control">
                        <div class="tab-search">
                            <i class='bx bx-search'></i>
                        </div>
                    </div>
                </div>

                <button class="btn-add" (click)="showModal($event)">Add a ministry <i
                        class='bx bx-plus-circle'></i></button>
            </div>

            <div class="dsh-event-content">
                <div class="dsh-event-box">
                    <div class="dsh-event-img">
                        <img src="../../../assets/ressources/img/1.jpg" alt="">
                    </div>
                    <div class="dsh-event-text">
                        <h3>Ministry of childrens</h3>
                        <span>Date : <strong>20/03/2022</strong></span>
                        <p>Lorem ipsum dol14
                            sit amet, consectetur adipisicing elit. Vero ab voluptatem?</p>

                        <div class="dsh-event-actions">
                            <div class="danger action">
                                <i class='bx bx-trash'></i>
                            </div>
                            <div class="blue A action">
                                <i class='bx bx-edit'></i>
                            </div>
                            <div class="green A action">
                                <i class='bx bx-detail'></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dsh-event-box">
                    <div class="dsh-event-img">
                        <img src="../../../assets/ressources/img/1.jpg" alt="">
                    </div>
                    <div class="dsh-event-text">
                        <h3>Ministry of parents</h3>
                        <span>Date : <strong>20/03/2022</strong></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ab voluptatem?</p>

                        <div class="dsh-event-actions">
                            <div class="danger action">
                                <i class='bx bx-trash'></i>
                            </div>
                            <div class="blue A action">
                                <i class='bx bx-edit'></i>
                            </div>
                            <div class="green A action">
                                <i class='bx bx-detail'></i>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="dsh-event-box">
                    <div class="dsh-event-img">
                        <img src="../../../assets/ressources/img/1.jpg" alt="">
                    </div>
                    <div class="dsh-event-text">
                        <h3>Ministry of young</h3>
                        <span>Date : <strong>20/03/2022</strong></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ab voluptatem?</p>

                        <div class="dsh-event-actions">
                            <div class="danger action">
                                <i class='bx bx-trash'></i>
                            </div>
                            <div class="blue A action">
                                <i class='bx bx-edit'></i>
                            </div>
                            <div class="green A action">
                                <i class='bx bx-detail'></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dsh-event-box">
                    <div class="dsh-event-img">
                        <img src="../../../assets/ressources/img/1.jpg" alt="">
                    </div>
                    <div class="dsh-event-text">
                        <h3>Ministry of mothers</h3>
                        <span>Date : <strong>20/03/2022</strong></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ab voluptatem?</p>

                        <div class="dsh-event-actions">
                            <div class="danger action">
                                <i class='bx bx-trash'></i>
                            </div>
                            <div class="blue A action">
                                <i class='bx bx-edit'></i>
                            </div>
                            <div class="green A action">
                                <i class='bx bx-detail'></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>